<div class="card">
  <span
    class="spinner-border spinner-border-sm align-middle ms-2"
    *ngIf="isLoading$ | async"
  ></span>
  <div class="card-body border-top p-9">
    <div class="row mb-6">
      <div class="col-lg-8 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2 required">Título:</label>
        <input
          type="text"
          name="title"
          [(ngModel)]="title"
          class="form-control form-control-lg form-control-solid"
          placeholder="Promo Navideña"
        />
      </div>
      <div class="col-lg-6 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2">Etiqueta:</label>
        <input
          type="text"
          name="label"
          [(ngModel)]="label"
          class="form-control form-control-lg form-control-solid"
          placeholder="Válido hasta el 31 de diciembre"
        />
      </div>
      <div class="col-lg-6 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2 required">Subtítulo:</label>
        <input
          type="text"
          name="subtitle"
          [(ngModel)]="subtitle"
          class="form-control form-control-lg form-control-solid"
          placeholder="Oferta exclusiva -50% en productos seleccionados"
        />
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-6 col-md-6 col-sm-12 my-2">
        <label class="form-label fw-semibold fs-6 py-2 required"
          >Sube tu imagen:</label
        >
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"
            (change)="processFile($event)"
          />
          <label class="custom-file-label" for="customFile">
            Elija el archivo</label
          >
        </div>
        <div class="">
          <img class="img py-3" [src]="img_preview" width="200" alt="" />
        </div>
      </div>
      <div class="col-lg-6 fv-row fv-plugins-icon-container">
        <div class="row">
          <div class="col-12">
            <label class="fw-semibold fs-6 py-2">Link:</label>
            <input
              type="text"
              name="link"
              [(ngModel)]="link"
              class="form-control form-control-lg form-control-solid"
              placeholder="https://www.google.com"
            />
          </div>
          <div class="col-12" *ngIf="type == 3">
            <label for="etiqueta_especial" class="fw-semibold fs-6 py-2 required"
              >Precio Original:
            </label>
            <input
              class="form-control form-control-lg form-control-solid"
              type="number"
              id="original_price"
              name="original_price"
              placeholder="100"
              [(ngModel)]="original_price"
            />
          </div>
          <div class="col-12" *ngIf="type == 3">
            <label for="etiqueta_especial" class="fw-semibold fs-6 py-2 required"
              >Precio de Campaña:
            </label>
            <input
              class="form-control form-control-lg form-control-solid"
              type="number"
              id="campaign_price"
              name="campaign_price"
              placeholder="50"
              [(ngModel)]="campaign_price"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label for="etiqueta_especial" class="fw-semibold fs-6 py-2"
          >Color:
        </label>
        <input
          class="form-control form-control-lg form-control-solid"
          type="color"
          id="color"
          name="color"
          [(ngModel)]="color"
        />
      </div>
      <div class="col-lg-4 fv-row fv-plugins-icon-container">
        <label class="fw-semibold fs-6 py-2 required">Selec. un Tipo</label>
        <select
          class="form-control form-select-solid fw-bolder"
          name="type"
          placeholder="Secciona un tipo"
          [(ngModel)]="type"
        >
          <option value="1">Principal</option>
          <option value="2">Banners</option>
          <option value="3">Producto</option>
        </select>
      </div>
    </div>

    <div>
      <div class="col-3">
        <button class="btn btn-primary" (click)="save()">Crear</button>
      </div>
    </div>
  </div>
</div>
