<div class="card">
  <!--begin::Card header-->
  <span
    class="spinner-border spinner-border-sm align-middle ms-2"
    *ngIf="isLoading$ | async"
  ></span>
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
          <span class="path1"></span><span class="path2"></span
        ></i>
        <input
          type="text"
          (keyup)="searchTo()"
          [(ngModel)]="search"
          data-kt-user-table-filter="search"
          class="form-control form-control-solid w-250px ps-13"
          placeholder="Buscar Ordenes"
        />
      </div>
      <div class="row px-7 py-5">
        <div class="col-3">
          <select
            class="form-control form-select-solid fw-bolder"
            name="brand"
            placeholder="Selec. Marca"
            [(ngModel)]="brand_id"
          >
            <option value="">Selec. Marcas</option>
            <ng-container *ngFor="let item of brands">
              <option [value]="item.id">{{ item.name }}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-3">
          <select
            class="form-control form-select-solid fw-bolder"
            name="departament"
            placeholder="Selec. Departamento"
            [(ngModel)]="categorie_first_id"
            (change)="changeDepartament()"
          >
            <option value="">Selec. Departamento</option>
            <ng-container *ngFor="let item of categories_first">
              <option [value]="item.id">{{ item.name }}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-3">
          <select
            class="form-control form-select-solid fw-bolder"
            name="categorie"
            placeholder="Selec. Categoria"
            [(ngModel)]="categorie_second_id"
            (change)="changeCategorie()"
          >
            <option value="">Selec. Categoria</option>
            <ng-container *ngFor="let item of categories_seconds_backups">
              <option [value]="item.id">{{ item.name }}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-3">
          <select
            class="form-control form-select-solid fw-bolder"
            name="categorie"
            placeholder="Selec. Categoria"
            [(ngModel)]="categorie_third_id"
          >
            <option value="">Selec. Subcategoria</option>
            <ng-container *ngFor="let item of categories_thirds_backups">
              <option [value]="item.id">{{ item.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row px-9 py-5">
        <div class="col-4 d-flex">
          <div
            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-9"
            data-kt-user-table-toolbar="base"
          >
            <a (click)="searchTo()" class="btn btn-primary mx-9">
              <i class="ki-duotone ki-magnifier fs-2">
                <span class="path1"></span><span class="path2"></span>
              </i>
            </a>
          </div>
          <div
            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-9"
            data-kt-user-table-toolbar="base"
          >
            <a (click)="reset()" class="btn btn-dark mx-9">
              <i class="ki-duotone ki-arrows-circle fs-2">
                <span class="path1"></span><span class="path2"></span>
              </i>
            </a>
          </div>
          <div
            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-9"
            data-kt-user-table-toolbar="base"
          >
            <a (click)="export_sale()" class="btn btn-success mx-9">
              <i class="ki-duotone ki-file-down fs-2">
                <span class="path1"></span><span class="path2"></span>
              </i>
            </a>
          </div>
        </div>
      </div>
      <div class="row px-9 mb-1 w-50">
        <div class="col-4">
          <div class="input-group input-group-solid">
            <input
              type="date"
              class="form-control form-control-lg form-control-solid"
              [(ngModel)]="start_date"
            />
          </div>
          <small>Fecha Inicio</small>
        </div>
        <div class="col-4">
          <div class="input-group input-group-solid">
            <input
              type="date"
              class="form-control form-control-lg form-control-solid"
              [(ngModel)]="end_date"
            />
          </div>
          <small>Fecha Fin</small>
        </div>
        <div class="col-4">
          <select
            class="form-control form-select-solid fw-bolder"
            name="method_payment"
            placeholder="Selec. Metodo de Pago"
            [(ngModel)]="method_payment"
          >
            <option value="">Selec. Forma de Pago</option>
            <ng-container *ngFor="let item of method_payment_list">
              <option [value]="item.method_payment">
                {{ item.method_payment }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->

    <!--begin::Card title-->
  </div>
  <!--end::Card header-->

  <!--begin::Card body-->
  <div class="card-body py-4">
    <div
      id="kt_table_users_wrapper"
      class="dt-container dt-bootstrap5 dt-empty-footer"
    >
      <div class="table-responsive">
        <table
          class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
          id="kt_table_users"
        >
          <thead>
            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
              <th
                class="min-w-125px sorting"
                tabindex="0"
                aria-controls="kt_table_users"
                rowspan="1"
                colspan="1"
                aria-label="User: activate to sort column ascending"
                style="width: 275.844px"
              >
                Cliente
              </th>
              <th
                class="min-w-125px sorting"
                tabindex="0"
                aria-controls="kt_table_users"
                rowspan="1"
                colspan="1"
                aria-label="Joined Date: activate to sort column ascending"
                style="width: 214.609px"
              >
                Nº de Transacción
              </th>
              <th
                class="min-w-125px sorting"
                tabindex="0"
                aria-controls="kt_table_users"
                rowspan="1"
                colspan="1"
                aria-label="Role: activate to sort column ascending"
                style="width: 161.469px"
              >
                Método de Pago
              </th>
              <th
                class="min-w-125px sorting"
                tabindex="0"
                aria-controls="kt_table_users"
                rowspan="1"
                colspan="1"
                aria-label="Role: activate to sort column ascending"
                style="width: 161.469px"
              >
                Total
              </th>
              <th
                class="min-w-125px sorting"
                tabindex="0"
                aria-controls="kt_table_users"
                rowspan="1"
                colspan="1"
                aria-label="Role: activate to sort column ascending"
                style="width: 161.469px"
              >
                Fecha de Compra
              </th>
              <th
                class="min-w-125px sorting"
                tabindex="0"
                aria-controls="kt_table_users"
                rowspan="1"
                colspan="1"
                aria-label="Role: activate to sort column ascending"
                style="width: 161.469px"
              >
                Provincia/Ciudad/Parroquia
              </th>
              <th
                class="min-w-125px sorting"
                tabindex="0"
                aria-controls="kt_table_users"
                rowspan="1"
                colspan="1"
                aria-label="Last login: activate to sort column ascending"
                style="width: 161.469px"
              >
                Estado
              </th>
              <!-- <th
                class="text-end min-w-100px sorting_disabled"
                rowspan="1"
                colspan="1"
                aria-label="Actions"
                style="width: 129.75px"
              >
                Actions
              </th> -->
            </tr>
          </thead>
          <tbody class="text-gray-600 fw-semibold">
            <ng-container *ngFor="let sale of sales">
              <tr class="odd">
                <td>
                  <div class="d-flex align-items-center">
                    <div
                      class="symbol symbol-50px me-5"
                      *ngIf="sale.user.avatar"
                    >
                      <img [src]="sale.user.avatar" class="" alt="" />
                    </div>

                    <div class="d-flex justify-content-start flex-column">
                      <a
                        href="#"
                        class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6"
                        >{{ sale.user.full_name }}</a
                      >
                      <!-- <span
                        class="text-muted fw-semibold text-muted d-block fs-7"
                        >{{ product.sku }}</span
                      > -->
                    </div>
                  </div>
                </td>
                <td>
                  <span>
                    {{ sale.n_transaction }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ sale.method_payment }}
                  </span>
                </td>
                <td>
                  <span> ${{ sale.total }} </span>
                </td>
                <td>
                  <span>
                    {{ sale.created_at }}
                  </span>
                </td>
                <td>
                  <span
                    *ngIf="
                      sale.sale_address_list.length > 0 &&
                      sale.sale_address_list[0]?.id &&
                      sale.sale_address_list[0]?.province &&
                      sale.sale_address_list[0]?.city &&
                      sale.sale_address_list[0]?.parish
                    "
                  >
                    {{ sale.sale_address_list[0].province.name }} /
                    {{ sale.sale_address_list[0].city.name }} /
                    {{ sale.sale_address_list[0].parish.name }}
                  </span>
                </td>
                <td>
                  <span
                    class="badge badge-light-warning fs-7 fw-bold"
                    *ngIf="sale.state == 1"
                    >PENDIENTE</span
                  >
                  <span
                    class="badge badge-light-success fs-7 fw-bold"
                    *ngIf="sale.state == 2"
                    >APROBADO</span
                  >
                  <span
                    class="badge badge-light-danger fs-7 fw-bold"
                    *ngIf="sale.state == 3"
                    >RECHAZADO</span
                  >
                  <span
                    class="badge badge-light-info fs-7 fw-bold"
                    *ngIf="sale.state == 4"
                    >CANCELADO</span
                  >
                </td>
                <td class="text-end">
                  <a
                    [href]="URL_SERVICIOS_R+'/sales/report-pdf/'+sale.id" target="_blank"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                  >
                    <i class="ki-duotone ki-document fs-2"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <ngb-pagination
          [collectionSize]="totalPages"
          [(page)]="currentPage"
          [pageSize]="25"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
