<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
      <!--begin::Modal title-->
      <h2 class="fw-bolder">Editar Especificacón "{{ specification.attribute.name }}"</h2>
  
      <!--end::Modal title-->
      <!--begin::Close-->
      <div
        class="btn btn-icon btn-sm btn-active-icon-primary"
        data-kt-users-modal-action="close"
        (click)="modal.dismiss()"
      >
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
        <span class="svg-icon svg-icon-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <rect
              opacity="0.5"
              x="6"
              y="17.3137"
              width="16"
              height="2"
              rx="1"
              transform="rotate(-45 6 17.3137)"
              fill="currentColor"
            />
            <rect
              x="7.41422"
              y="6"
              width="16"
              height="2"
              rx="1"
              transform="rotate(45 7.41422 6)"
              fill="currentColor"
            />
          </svg>
        </span>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body scroll-y mx-5 my-7">
      <!--begin::Form-->
      <form id="kt_modal_add_user_form" class="form" action="#">
        <!--begin::Scroll-->
        <!-- <div
          class="scroll-y me-n7 pe-7"
          id="kt_modal_add_user_scroll"
          data-kt-scroll="true"
          data-kt-scroll-activate="{default: false, lg: true}"
          data-kt-scroll-max-height="auto"
          data-kt-scroll-dependencies="#kt_modal_add_user_header"
          data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
          data-kt-scroll-offset="300px"
        > -->
          <!--begin::Input group-->
          <div class="row">
            <div class="col-12">
              <!-- Formularios -->
              <div class="row align-items-center">
                <div class="col-6">
                  <label class="fw-semibold fs-6 py-2 required">Atributos:</label>
                  <select
                    class="form-control form-select-solid fw-bolder"
                    name="specification_attribute_id"
                    [(ngModel)]="specification_attribute_id"
                    placeholder="Selec. Atributo"
                    (change)="changeSpecifications()"
                  >
                    <option value="">--Seleccionar--</option>
                    <ng-container *ngFor="let item of attributes_specifications">
                      <option [value]="item.id">{{ item.name }}</option>
                    </ng-container>
                  </select>
                </div>
                <div class="col-6">
                  <label class="fw-semibold fs-6 py-2 required">Campo:</label>
                  <ng-container *ngIf="type_attribute_specification == 1">
                    <!-- Texto -->
                    <input
                      type="text"
                      name="value"
                      [(ngModel)]="value"
                      class="form-control form-control-lg form-control-solid"
                      placeholder="Laptop HP 15.6"
                    />
                  </ng-container>
                  <ng-container *ngIf="type_attribute_specification == 2">
                    <!-- Número -->
                    <input
                      type="number"
                      name="value"
                      [(ngModel)]="value"
                      class="form-control form-control-lg form-control-solid"
                      placeholder="1234567890"
                    />
                  </ng-container>
                  <ng-container *ngIf="type_attribute_specification == 3">
                    <!-- Seleccionable -->
                    <select
                      class="form-control form-select-solid fw-bolder"
                      name="departament"
                      [(ngModel)]="propertie_id"
                    >
                      <option value="">--Seleccionar--</option>
                      <ng-container *ngFor="let item of properties">
                        <option [value]="item.id">{{ item.name }}</option>
                      </ng-container>
                    </select>
                  </ng-container>
                  <ng-container *ngIf="type_attribute_specification == 4">
                    <!-- Multiseleccion -->
                    <ng-multiselect-dropdown
                      [placeholder]="'Selecciona tus etiquetas'"
                      [settings]="dropdownSettings"
                      [data]="dropdownList"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="selectedItems"
                      (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                    >
                    </ng-multiselect-dropdown>
                  </ng-container>
                </div>                
              </div>
            </div>
          </div>
        <!-- </div> -->
        <!--end::Scroll-->
  
        <!--begin::Actions-->
        <div class="text-center pt-15">
          <button
            type="reset"
            class="btn btn-light me-3"
            (click)="modal.dismiss()"
          >
            Cerrar
          </button>
          <button
            type="button"
            (click)="store()"
            class="btn btn-primary"
            data-kt-users-modal-action="submit"
          >
            <span class="indicator-label">Actualizar</span>
  
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"
              *ngIf="isLoading$ | async"
            ></span>
            <!-- <span class="indicator-progress">Please wait...
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span> -->
          </button>
        </div>
        <!--end::Actions-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Modal body-->
  </div>
  <!--end::Modal content CREATE-->
  